# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
env/
.venv/
.env/

# Environment variable files
.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# mypy / pylint / etc.
.mypy_cache/
.pytype/
.pyre/

# SQLite or other DB
*.sqlite3
*.db

# Redis dump
dump.rdb

# Logs
*.log

# Docker
*.pid
*.tar
docker-compose.override.yml

# Node.js (если фронт рядом)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Images / media (если генерируется)
media/
tmp/
